.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-links {
    display: flex;
    gap: 24px;
    padding-right: 50px;
    padding-right: 250px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    padding-left: 250px;
    font-size: 24px; 
    color: #F9FAF8;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    flex: none;
    padding-left: 240px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin: 5px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 32px;
    margin: 5px;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 15px;
}

.hero-image {
    padding-right: 250px;
}

.info {
    display: flex;
    gap:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.info-images {
    width: 200px;
    height: 200px;
}

.info1,
.info2,
.info3,
.info4 {
    width: 200px;
    height:200px
    display: flex;
    flex-direction: column;
}

.info-text1,
.info-text2,
.info-text3,
.info-text4 {
    text-align: center;
    font-size: 18px;
    color: dimgray;
}

.info-squares {
    display: flex;
    gap: 25px;
}

.info-header {
    font-size: 36px;
    font-weight: 1000;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 50px;
}

.quotation {
    width: 500px;
    margin-bottom: -15px;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author {
    padding-left: 300px;
    font-weight: 1000;
}